<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="uk.org.linuxgrotto" level="info">
		<appender-ref ref="console" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" level="info">>
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.springframework.beans" level="info">>
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.springframework.context" level="info">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.web" level="info">>
		<appender-ref ref="console" />
	</logger>

	<!-- Root Logger -->
	<root level="WARN">
		<appender-ref ref="console" />
	</root>
	
</configuration>
